# Firebase Web App Configuration Template
# Rename this file to .env and replace the values with your actual Firebase project keys.

VITE_FIREBASE_API_KEY=AIzaSyDGx_5eIGTEoQEVGly9FvZyDxHwq4pNS54
VITE_FIREBASE_AUTH_DOMAIN=inventoryflow-313448.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=inventoryflow-313448
VITE_FIREBASE_STORAGE_BUCKET=inventoryflow-313448.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=919441823984
VITE_FIREBASE_APP_ID=1:919441823984:web:55e608d05d1eaed37eca35
